# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/cenfoChrismatArticulos/FileContentIndex/8bde88d6-b292-4d06-ae5f-a7e8a26985b0.vsidx
.vs/cenfoChrismatArticulos/FileContentIndex/8bde88d6-b292-4d06-ae5f-a7e8a26985b0.vsidx
.vs/cenfoChrismatArticulos/FileContentIndex/8bde88d6-b292-4d06-ae5f-a7e8a26985b0.vsidx
.vs/cenfoChrismatArticulos/FileContentIndex/8bde88d6-b292-4d06-ae5f-a7e8a26985b0.vsidx
*.vsidx
*.vsidx
.vs/cenfoChrismatArticulos/FileContentIndex/8bde88d6-b292-4d06-ae5f-a7e8a26985b0.vsidx
*.vsidx
*.vsidx
*.db
*.vsidx
*.db
*.opendb
*.vsidx
*.vsidx
